pipeline/SQLtodatalake.json
{
	"name": "SQLtodatalake",
	"properties": {
		"activities": [
			{
				"name": "Copysqldata",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lastload",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "latestload",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM dbo.factbookings\nWHERE booking_date > '@{activity('Lastload').output.firstRow.lastload}'\nAND booking_date < ='@{activity('latestload').output.firstRow.latestload}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sqlsource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sql",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_now",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lastload",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_lookup",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "latestload",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT Max(booking_date) AS latestload\nFROM dbo.factbookings",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqlsource",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Watermark",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copysqldata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": {
							"type": "Expression",
							"value": "@activity('latestload').output.firstRow.latestload"
						},
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_emptyjson",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_lookup",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"v_now": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-02-11T15:30:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}